@model thuctap_CTN.Models.Baigiangfile

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Baigiangfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BgfId" class="control-label"></label>
                <input asp-for="BgfId" class="form-control" />
                <span asp-validation-for="BgfId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BgfTen" class="control-label"></label>
                <input asp-for="BgfTen" class="form-control" />
                <span asp-validation-for="BgfTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BgfFile" class="control-label"></label>
                <input asp-for="BgfFile" class="form-control" />
                <span asp-validation-for="BgfFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

